.custom-button {
  min-width: 160px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  margin-right: 20px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: 700;
  border: none;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    transition: .3s;
  }

  &.google-sign-in {
    background: #4285f4;
    color: #fff;

    &:hover {
      background: #fff;
      color: #4285f4;
      border: 1px solid #4285f4;
    }
  }

}